[Desktop Entry]
Version=0.1.0
Type=Application

Exec=python /usr/share/expeyes/eyes17/spark17.py
Icon=expeyes-logo.png

Name=ExpEYES-17
Comment=ExpEYES17 GUI CSpark research

Categories=Education;Science;Other;	
MimeType=application/x-python

Terminal=false
NoDisplay=false
StartupNotify=false
